body{
    background: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}


#menu a {
    padding: 2px 25px;
    font-size: 22px;
    font-weight: bold;

}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(0, 204, 255, 0.856);
    transition: all 1.s ease-in-out;
}

#menu button{
    font-size: 18px;
    font-weight: bold;
}

.d-item{
    height: 550px;
}
.card-img-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 280px;

}
.bg-dark-x{
    background-color: var(--dark-x);
}



.container-2{
    margin: 25px;
    display: flex;
    justify-content: center ;
    border-color: aliceblue;
}
.container-2 .img{
    height: 550px;
    width:  550px;
}
.container-2 .text{
    color: aliceblue;
}
.img-1{
    background-image: url('/img/img-3.jpg');
    background-size: cover;
    background-position: center;
}
.img-2{
    background-image: url('/img/g-5.jpg');
    background-size: cover;
    background-position: center;
}
.img-3{
    background-image: url('/img/img-1.jpg');
    background-size: cover;
    background-position: center;
}
.logo{
    font-size: 35px;
    font-weight: bold;
    color: aliceblue;
    padding: 0 130px;
}







